<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <input type="string" name="name">
  <input type="string" name="email">
  <input type="string" name="password">
  <input type="submit" value="Sign Up" id="submit">
</form>


